body{
    background-color: rgba(62,0,173,0.05);
}

h2 {
    display: block;
    width: max-content;
    margin: 9px 16px 0;
    text-align: left;
    border-bottom: 2px solid darkgrey;
    color: darkgrey;
}

caption {
    font: bold x-large arial;
    color: orange;
    text-shadow: 3px 2px 4px darkgrey;
}

input[type="search"] {
    padding: 7px;
    margin: 8px 11px 0px 15px;
    border-radius: 3px;
    font: normal 16px arial;
    border: 1px solid darkgray;
}

#cover{
    border-radius: 10px;
}

#add, #edit {
    background-color: rgba(255,98,21,0.9);
    color: white;
    font: bold 15px sans-serif;
}

#bookNameSpan, #bookPublisherSpan, #bookIsbnSpan, #bookCoverSpan {
    display: none;
    color: red;
    float: left;
    margin-left: 20px;
    font-size: 10px;
}


form#searchForm {
    display: inline;
}

.toCenter{
    margin: 50px auto;
    width: 400px;
    height: max-content;
    border: 2px solid darkgrey;
    border-radius: 10px;
    box-shadow: 7px 7px 4px lightgray;
    background-color: white;
}
.tableCenter{
    margin: 50px auto;
    width: 675px;
    height: max-content;
    border: 2px solid darkgrey;
    border-radius: 10px;
    box-shadow: 7px 7px 4px lightgrey;
    background-color: white;
    /*background-color: rgba(62,0,173,0.08);*/
}
.addBook {
    text-align: center;
}

.addBook input{
    padding: 10px;
    margin: 10px;
    width: 90%;
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-shadow: 1px 1px 2px lightgrey;
}


.booksTable {
    margin: 15px;
    border-collapse: collapse;
    text-align: left;

}

.booksTable th, .booksTable td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.booksTable th{
    background-color: rgba(255,123,21,0.85);
    color: white;
}

.booksTable tr:nth-child(even){background-color: rgba(255,98,21,0.08);}
.booksTable tr:hover {background-color: #ddd;}


a.btnEdit, .btnDelete, .btnAdd {
    font: normal 15px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px lightgrey;
    border-radius: 7px;
}
a.btnEdit:link, a.btnEdit:hover, a.btnEdit:visited, a.btnEdit:active {
    text-decoration: none;
}
a.btnEdit {
    background-color: blue;
    opacity: 0.8%;
    color: white;
}

.btnDelete {
    background-color: red;
    color: white;
}
.btnAdd {
    background-color: rgba(255,123,21,0.85);
        color: white;
    float: right;
    margin: 8px 11px 0px 15px;
    padding: 9px;
}


.pagination {
    text-align: center;
    width: 100%;
}

.pageLinks {
    border: 1px solid gray;
    background-color: rgba(255,98,21,0.08);
    box-shadow: 1px 1px 4px gray;
    font: normal large Courier;
    margin: 7px;
    padding: 7px;
    display:inline-block;
    width: 20px;
    height: 15px;
    text-align: center;
}

.pageLinks:hover, .pageLinks:link, .pageLinks:visited, .pageLinks:active {
    text-decoration: none;
}