body{
    background-color: rgba(62,0,173,0.05);
}

h1 {
    display: block;
    width: max-content;
    text-align: center;
    font: bold xx-large arial;
    color: orange;
    text-shadow: 3px 2px 4px darkgrey;
    margin: 8px 0px 16px 0px;
}
.formsHeading {
    margin: auto;
    width: 140px;
    padding: 6px 0px 0px 0px;
}
.listingHeading {
    margin: auto;
    width: 292px;
}
input[type="search"] {
    padding: 7px;
    margin: 2px 0px 9px 0px;
    border-radius: 3px;
    font: normal 16px arial;
    border: 1px solid darkgray;
    float: right;
}

#cover{
    border-radius: 10px;
}

#add, #edit {
    background-color: rgba(255,98,21,0.9);
    color: white;
    font: bold 15px sans-serif;
}

#bookNameSpan, #bookPublisherSpan, #bookIsbnSpan, #bookCoverSpan {
    display: none;
    color: red;
    float: left;
    margin-left: 20px;
    font-size: 10px;
}


form#searchForm {
    display: inline;
}


.toCenter{
    margin: 30px auto;
    width: 400px;
    height: max-content;
    border: 2px solid darkgrey;
    border-radius: 10px;
    box-shadow: 7px 7px 4px lightgray;
    background-color: white;
}
.tableCenter{
    margin: 50px auto;
    width: 675px;
    height: max-content;
    border: 2px solid darkgrey;
    border-radius: 10px;
    box-shadow: 7px 7px 4px lightgrey;
    background-color: white;
    padding: 15px;
}
.addBook {
    text-align: center;
}

.addBook input{
    padding: 10px;
    margin: 10px;
    width: 88%;
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-shadow: 1px 1px 2px lightgrey;
}


.booksTable {
    margin: 2px 2px;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.booksTable th, .booksTable td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.booksTable th{
    background-color: rgba(255,123,21,0.85);
    color: white;
}

.booksTable tr:nth-child(even){background-color: rgba(255,98,21,0.08);}
.booksTable tr:hover {background-color: #ddd;}


a.btnEdit, .btnDelete, .btnAdd {
    font: normal 15px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px lightgrey;
    border-radius: 7px;
}
a.btnEdit:link, a.btnEdit:hover, a.btnEdit:visited, a.btnEdit:active {
    text-decoration: none;
}
a.btnEdit {
    background-color: blue;
    opacity: 0.8%;
    color: white;
}

.btnDelete {
    background-color: red;
    color: white;
}
.btnAdd {
    background-color: rgba(255,123,21,0.85);
    color: white;
    float: right;
    margin: 0 11px 0px 15px;
    padding: 9px;
}


.pagination {
    margin: 7px auto 0px;
    text-align: center;
    width: 75%;
    height: 28px;
    padding: 0;
    border-radius: 20px;
    background-color: rgba(255,123,21,0.85);
}
.pageNavigation, .pageLinks {
    font: normal small Courier;
    padding: 7px;
    display:inline-block;
    width: 35px;
    height: 14px;
    text-align: center;
    color: white;
}
.pageLinks {
    width: 10px;
}

.showListing:hover,
.pageLinks:link, .pageNavigation:link, .showListing:link,
.pageLinks:visited, .pageNavigation:visited, .showListing:visited,
.pageLinks:active, .pageNavigation:active, .showListing:active {
    text-decoration: none;
}
.pageLinks:hover, .pageNavigation:hover {
    background-color: rgba(255,123,21,1);
}
.errorMessage {
    color: red;
}
.successMessage {
    color: green;
}
a.showListing {
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-decoration: none;
    font: large arial;
    border-radius: 10px;
    color: #333333;
    background-color: rgba(255,123,21,0.85);
    padding: 5px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px lightgrey;
}
.asterisk_input:after {
    content: " *";
    color: #e32;
    position: absolute;
    margin: 20px 0px 0px -30px;
    font-size: 17px;
    padding: 0 5px 0 0;
}
